:root {
  --primary-color: #EA2E2B;
  --primary-color-rgb: 234, 46, 43;
  --secondary-color: #C50000;
  --secondary-color-rgb: 197, 0, 0;
  --tertiary-color: #FF0000;
  --tertiary-color-rgb: rgba(255, 0, 0, 1.0);
}