@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap');

* {
  --primary-color: #FF0000;
  --primary-color-rgb: 255, 0, 0;
  --secondary-color: #FF4747;
  --secondary-color-rgb: 255, 71, 71;
  --tertiary-color: #FF0909;
  --tertiary-color-rgb: rgba(255, 9, 9, 1.0);
  --bg-dark-1: #A90000;
  --bg-dark-1-rgb: 169, 0, 0;
  --bg-dark-2: #8A0000;
  --bg-dark-3: #B20000;
  --dark-body-font-color: #9a99b1;
  --gradient-text: 45deg,#ffffff 0%, #aaaaaa 100%;
  --title-font: "Ubuntu", Helvetica, Arial, sans-serif;
  --body-font: "Manrope", Helvetica, Arial, sans-serif;
  --body-font-weight: 400;

}